django
celery
redis
django-ckeditor==6.7.0
django-filter==23.2
twilio==8.5.0
python-decouple==3.8
Pillow==10.0.0
psycopg2-binary==2.9.6
PyJWT==2.8.0
gunicorn==21.2.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
drf-yasg==1.21.6
coreapi
pyyaml